<?xml version="1.0" encoding="utf-8"?>

<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://spauthtest.com:44388/login</SiteUrlToLaunchAfterPublish>
    <DesktopBuildPackageLocation>$(PackageFileName)</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/$(WebApplicationName)</DeployIisAppPath>
    <PublishDatabaseSettings />
  </PropertyGroup>

  <ItemGroup>
  <MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>65bbd39c-be9e-4336-801e-f60aa7e31bf2</DefaultValue>
            <Value>65bbd39c-be9e-4336-801e-f60aa7e31bf2</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Value for ClientSecret here.</Description>
            <DefaultValue>RNDeIEfRNK0yaoSSIExN3Fj5TidNybDYyisgSt9Ad7M=</DefaultValue>
            <Value>RNDeIEfRNK0yaoSSIExN3Fj5TidNybDYyisgSt9Ad7M=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
</Project>